Stock List Component

<div>
  <div *ngFor="let item of userStcoks">
    <h3>{{ item.stockName }}</h3>
    <div>
      <span>Change today:{{ item.d }}</span>
      <span>Opening price:{{ item.o }}</span>
    </div>
    <div>
      <span>Current price:{{ item.c }}</span>
      <span>High price:{{ item.h }}</span>
    </div>
    <div>
      <a
        class="btn btn-outline-secondary"
        type="button"
        id="button-addon3"
        [routerLink]="['sentiment', item.symbol]"
      >
        Go to social sentiment details
      </a>
    </div>
  </div>
</div>
