<div class="card">
  <div class="card-body">
    <h5>Enter the symbol of a stock to track (i.e., AAPL, TSLA, GOOGL)</h5>
    <div class="input-group mb-3">
      <input
        type="text"
        [(ngModel)]="stockName"
        (keyup)="searchStock()"
        placeholder="Please Enter Stock "
      />
      &nbsp;
      <button
        [disabled]="!selectedStock"
        class="btn btn-outline-secondary, disabledbtn"
        type="button"
        id="button-addon2"
        (click)="getStockQuotedetails()"
      >
        Track Stock
      </button>
    </div>
    <ng-container *ngIf="stocksSearchList?.length > 0">
      <p>Select a stock:</p>
      <ul>
        <li *ngFor="let stock of stocksSearchList">
          <p style="cursor: pointer" (click)="selectedStock = stock">
            {{ stock?.displaySymbol }}
          </p>
        </li>
      </ul>
    </ng-container>
  </div>
</div>
<div>
  <app-stocks-list #stockList [userStcoks]="stockQuotesListArr">
  </app-stocks-list>
</div>
