<div class="card search-block">
  <div class="card-body">
    <label class="dashboard-title">{{ dashboardTitle }}</label>

    <div class="row">
      <div class="col-6">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="searchText"
          (ngModelChange)="changed($event)"
          placeholder="Search"
        />
      </div>
      <div class="col-4">
        <button
          [disabled]="!selectedStock"
          class="btn"
          [ngClass]="{
            'btn-outline-secondary': !selectedStock,
            'btn-dark': selectedStock
          }"
          type="button"
          (click)="getStockQuotedetails()"
        >
          Track Stock
        </button>
      </div>
    </div>

    <ng-container *ngIf="searchResult$ | async as stocksSearchList">
      <div
        *ngIf="stocksSearchList?.length > 0"
        class="border border-2 search-result"
      >
        <div class="row">
          <div class="col-4"><strong> Symbol </strong></div>
          <div class="col-8"><strong>Description</strong></div>
        </div>
        <div
          class="row"
          (click)="selectedStock = stock"
          *ngFor="let stock of stocksSearchList; let i = index"
        >
          <div
            class="row"
            [ngClass]="{
              'bg-secondary text-white': stock?.symbol == selectedStock?.symbol
            }"
          >
            <div class="col-4">{{ stock?.displaySymbol }}</div>
            <div class="col-8">{{ stock?.description }}</div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

