<div class="card">
  <div class="card-body">
    <h5>Enter the symbol of a stock to track (i.e., AAPL, TSLA, GOOGL)</h5>
    <div class="input-group mb-3">
      <input
        type="text"
        [(ngModel)]="stockName"
        (keyup)="searchStock()"
        placeholder="Search"
      />
      &nbsp;
      <button
        [disabled]="!selectedStock"
        class="btn"
        [ngClass]="{
          'btn-outline-secondary': !selectedStock,
          'btn-dark': selectedStock
        }"
        type="button"
        (click)="getStockQuotedetails()"
      >
        Track Stock
      </button>
    </div>

    <div
      *ngIf="stocksSearchList?.length > 0"
      style="height:300px; overflow:scroll;"
      class="border border-2"
    >
      <div class="container">
        <div class="row">
          <div class="col-4"><strong> Symbol </strong></div>
          <div class="col-8"><strong>Description</strong></div>
        </div>
      </div>
      <div class="container">
        <div
          style="cursor: pointer;"
          (click)="selectedStock = stock"
          class="row"
          *ngFor="let stock of stocksSearchList; let i = index"
        >
          <div
            class="row"
            [ngClass]="{
              'bg-secondary text-white': stock?.symbol == selectedStock?.symbol
            }"
          >
            <div class="col-4">{{ stock?.displaySymbol }}</div>
            <div class="col-8">{{ stock?.description }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <app-stocks-list #stockList [userStcoks]="stockQuotesList"> </app-stocks-list>
</div>
