{{ stockName }}
<div *ngIf="stocksSentimentList">
  <div class="row">
    <div *ngFor="let stock of stocksSentimentList" class="col-md-4">
      {{ stock.monthName }}
      {{ stock.change }}
      {{ stock.mspr }}
      <p *ngIf="stock.change >= 0" [innerHtml]="upArrow"></p>
      <p
        *ngIf="stock.change < 0"
        style="{background-color: red; color: red}"
        [innerHtml]="downArrow"
      ></p>
    </div>
  </div>

  <a
    class="btn btn-outline-secondary"
    type="button"
    id="button-addon3"
    [routerLink] = "['/dashboard']"
  >
    Back to List of stocks
  </a>
</div>
