.sentiment-block {
  width: 93%;
  margin: 20px;
}

.green {
  font-size: 72px;
  color: green;
}

.red {
  font-size: 72px;
  color: red;
}

.back-button {
  margin-left: 20px;
}

.no-data {
  color: rgb(255, 0, 0);
}

.loader {
  color: rgb(62, 62, 165);
}
